* {
    reg:        "Inter Regular  10";
    bold:       "Inter Bold 10";
    ita:        "Inter Italic 10";
    reg-big:    "Inter Regular 13"; 
    bold-big:   "Inter Bold 13";
    ita-big:    "Inter Italic 13";
    reg-sm:     "Inter Regular 8";
    bold-sm:    "Inter Bold 8";
    ita-sm:     "Inter Italic 8";
    reg-icon:   "Inter Regular 13";
    bold-icon:   "Inter Bold 13";
    ita-icon:   "Inter Italic 13";
}
