@import "../font.rasi"
@import "../colors.rasi"

entry {
    padding:                        10px;
    text-color:                     @FG;
    background-color:               transparent;
    font:                           @reg;
}
